<h2>This Is My Contact Info!</h2>
<section>
    <ul>
        <h4>Mainstream</h4>
        <li>Gmail: shubitidzed9@gmail.com</li>
        <li>Mobile Number: +995 571 53 53 89</li>
    </ul>
    <ul>
        <h4>Social Media</h4>
        <li><a href="https://www.facebook.com/datoShu" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/davidtheholy/" target="_blank">Instagram</a></li>
    </ul>
</section>