<h2>Scroll Down To See My Traits And Skills!</h2>
<section id="skillBoxes">
    <img src="" style="max-width: 80%; position: absolute;">

    <div class="left">
        <h2>I'm Passionate!</h2>
        <p>I love what I'm doing and I need no rest, Because coding is my way of having fun! <br>
            I'm studing programming for a year now and I'm <img src="img/BentArrow.png" style="max-width: 125px; position: absolute; bottom: 2.7rem; right: 1rem; transform: rotate(-20deg);"><hr>
            <br>
            <b>ABSOLUTELY LOVING IT!</b> 
        </p>
    </div>

    <div class="right">
        <h2>I'm a Fast Learner!</h2>
        <p>
            I Learned web developing in practically one month with help of previous experiance of following: 
            started with architecture of CPU then went to assembly(nasm) to C to C++ to C# to Python to HTML, CSS, JavaScript, PHP, MySQL.<br> 
            On this way i also got familiar with following technologies: Win32 API, .Net framework, .Net Core, Node.js, 
            Express.js, Laravel, SCSS, Bootstrap. <hr>
            <b>So I Really Do Understand What Im Doing!</b>
        </p>
    </div>

    <div class="left">
        <h2>I Have A Strong Work Ethic!</h2>
        <p>
            I cant(and don't want) to stop when I'm working on a project, its always my first priority! <br>
            I love cooporating with my coding mates to help each other improve, <br>
            I respect hierarchy in working enviroment, always keen to learn from every representative from every level of hierarchy.<hr>
            <b>I Dont Need Sleep, I Need To Code!</b>
        </p>
    </div>
</section>